@model EmailData

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
<h1 class="mt-5">Contact Me</h1>
<div class="p-2">
    <form asp-action="ContactMe" asp-controller="Home" method="post">
        <input type="hidden" asp-for="@Model.EmailAddress" />
        <div class="row row-cols-1 g-3">
            <div class="col col-lg-6">
                <label asp-for="@Model.FirstName" class="form-label">First Name:</label>
                <input type="text" class="form-control" asp-for="@Model.FirstName" />
            </div>
            <div class="col col-lg-6">
                <label asp-for="@Model.LastName" class="form-label">Last Name:</label>
                <input type="text" class="form-control" asp-for="@Model.LastName" />
            </div>
            <div class="col">
                <label asp-for="@Model.EmailSubject" class="form-label">Subject:</label>
                <input type="text" class="form-control" asp-for="@Model.EmailSubject" />
            </div>
            <div class="col mb-3">
                <label asp-for="@Model.EmailBody" class="form-label">Message:</label>
                <textarea class="form-control" rows=10 asp-for="@Model.EmailBody" required></textarea>
            </div>
            <div class="row">
                <div class="col text-start">
                    <a asp-action="Index">Back to List</a>
                </div>
                <div class="col-4 col-lg-3 text-end">
                    <button class="btn btn-primary rounded-pill btnlinks" type="submit">Send</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>